.flex {
  display: flex;
  width: 100%;
  height: 100%;
}

.postmanScheme {
  color: #ef5b25;
}

.bold {
  font-weight: bold;
  text-align: center;
}

.invalid {
  border: 1px solid red;
}

.auth_ul {
  margin: 0px;
  list-style-type: none;
  position: relative;
  display: flex;
  align-items: center;
}

.auth_li {
  display: inline-block;
  float: left;
  margin: 20px;
}

.auth_li:hover {
  cursor: pointer;
}

.authWrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.form {
  width: 256px;
}
